@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url("https://fonts.cdnfonts.com/css/miama");

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 

/* background styles */
  #background-color{
    background-color: black;
  }

/* nav styles */
  .nav-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    
  }
  nav ul{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: .45rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    
  }
  nav ul li{
    list-style: none;
    /* margin: 0 2.5rem; */
    width: 10rem;
    justify-content: space-between ;
   
    
  } 
  nav li a{
    text-decoration: none;
    color: white;
    
  }
  #home{
    border: 1px solid #E6533C;
    border-radius: 3rem;
    background-color: #E6533C;
    padding: .35rem;
  }

/* Shared Styles */
  .all-margin{
    margin: 1.5rem 6.8rem;;
  }
  .fitness{
    font-weight: bolder;
    font-size: 2.1rem;
    color: #E6533C;
  }
  .primary-details{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 1.9rem 0 ;
  }
  .primary-btn{
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2.8rem;
    border: 1px solid #E6533C;
    background-color: #E6533C;
    border-radius: 2.6rem;
  }
  .extra-btn{
    color: white;
    padding: 1.75rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.6rem;
    background-color: rgba(64, 64, 64, 0.537);
    
 }
 .heading-color{
    color: white;
    font-size: 3rem;
 }
 .color-white{
    color: white;
 }
 .habit-section{
    margin-top: 9rem;

 }
 #image-shape{
    border-radius: 100px;
  }
  


/* Banner Style */
  .banner{
    display: flex;
  }
  .banner-width{
    width: 32rem;
  }
  .banner-info{
    
    color: white;
    font-size: 4.8rem;
  }
  .banner-div{
    margin-right: 55.5rem;
  }
  
  .shape{
    font-family: "Miama", sans-serif;
    font-size: 7.8rem;
    font-weight: 200;
  }
  .banner-img{
    margin-left: 19rem;
    position: relative;
    /* border: 1px solid yellow;
    */
  }
  .banner-img img{
    width: 21rem;
    height: 36rem;

  }

/* Button style */  
  .download-btn{
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2.8rem;
    border: 1px solid white;
    background-color: black;
    border-radius: 2.6rem;
    margin-left: 1rem;
  }
  #free-videos-badge{
    width: 195px;
    height: 96px;
    font-size: .8rem;
    font-weight: 500;
    position: absolute;
    left: 180px;
    bottom: 360px;
  }
  #tutorial-badge{
    display: flex;
    width: 206px;
    height: 96px;
    font-size: .8rem;
    font-weight: 500;
    position: absolute;
    right: 250px;
    bottom: 90px;
    justify-content: center;
  }
  /* #video-icon{
   width: 40px;
   height: 40px;
  } */
  #videos-500{
    font-size: 30px;
  }
  #tutorial-350{
    font-size: 22px;
    
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }
  .calculate-btn{
    margin-top: 2rem;
  }

  /* habit section style */
  .habit-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
  }
  
  .habit-container-intro{
    width: 40rem; 
    text-align: center;
    margin: 0 auto 3.5rem auto;
  }

  .habit-card{
    justify-content: center;
  }
  .habit-card{
    width: 16rem;
    height: 17rem;
    text-align: center;
  }
 

  /* Run-Extra-Easily */
  .secondary-bg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12.3rem;
    background-color: #222222;
    /* width: 71rem; */
    border-radius: 1.2rem;
    padding: 3rem;
  }
  .secondary-bg img{
    width: 100%;
    border-radius: 1.2rem;
  }
  .run-img{
    width: 31.5rem;
    
  }
  .extra-run-details{
    width: 22rem;
    margin-top: -30px;
  }

  /* BMI-calculator-info section */
  .bmi-cal-section{
    width: 41rem;
    margin: 6rem auto;
  }
  .bmi-cal{
    margin-bottom: -1rem;
  }

  /* BMI Calculator / chellenging section */
  table{
    border-collapse: collapse;
  }
  td, th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: .7rem 2rem;
  }

  /* BMI-Calculate section / Challenging section */
  .bmi-calculator-opto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bmi-bg{
    padding: 2rem;
    background-color: #222222;
  }
  .bmi-calculate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bmi-info{
    padding: .7rem;
    border-radius: .5rem;
    margin: .1rem;
    background-color: rgba(255, 255, 255, 0.1);
    
  }

  /* meet our team section */
  .team-heading{
    width: 40rem;
    margin: 4rem auto 0 auto;
    text-align: center;
  }
  .heading-meet{
    margin-bottom: -1.5rem;
    
  }
  .team-member-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 66rem;
    height: 37rem;
    margin: 0 auto;
  }
  .team-member-container img{
    width: 100%;
    height: 15rem;
    border-radius: 1.2rem;
  }
  .team-member-intro{
    margin-top: -6rem;
    margin-left: 2rem;
  }
  .trainer-margin{
    margin-top: -1.2rem;
  }
  .team-bg{
    background-color: #222222;
    height: 32rem;
    border-radius: 1.2rem;
    padding: 1rem;
  }

  @media  screen and (max-width: 576px) {

    .nav-bar{
        flex-direction: column;
    }
    .nav-bar .nav-items{
        display: block;
        
    }
    label.logo{
        font-size: 30px;
        padding-left: 16px;
    }
    .all-margin{
        margin: 0 20px;
    }
    .banner{
        flex-direction: column;
        width: 352px;
    }
    .banner-img{
        margin-left: 110px;
    }
    #tutorial-badge{
        right: 120px;
    }

    /* habit-section */
    .habit-container-intro{
        width: 19rem;
        height: 7.5rem;
    }
    #heading, .bmi-cal, .heading-meet{
        font-size: 2rem;
    }
    .habit-container, .secondary-bg, .bmi-calculator-opto, .team-member-container{
        grid-template-columns: repeat(1,1fr);
        gap: 2.5rem;
        justify-items: center;
        margin: 6.5rem 0;
         
    }
    .run-img{
        width: 20.9rem;
    }
    .extra-run-details{
        justify-items: center;
    }
    .join-btn{
        width: 22rem;
    }
    .bmi-cal-section{
        margin: 0 1.6rem;
        width: 22rem;
    }
    .team-heading{
      width: 19rem;
      height: 7.5rem;

    }
    .team-bg{
      width: 21rem;
      height: 75.5rem;

    }
    .member-small-hide{
      display: none;
    }
    .team-member-container img{
      width: 18rem;
      height: 17rem;

    }
    .team-member-container{
      margin: 0 auto;

    }

   
  }
